black==22.3.0
flake8==4.0.1
isort==5.10.1
SQLAlchemy~=1.4.35
clkhash>=0.16.0
psycopg2>=2.8.3
anonlink-client==0.1.5
ijson>=3.1.2
textdistance>=4.5.0
usaddress>=0.5.10
pylint>=2.4.2
tqdm>=4.36.1
pandas>=1.2.1
recordlinkage>=0.14
